%header
  %ul
    %li
      = link_to 'Home', '#/'
    - if logged_in?
      %li
        Welcome back,
        = current_user.email
      %li
        = link_to 'Sign out', '#/sign_out'
    - else
      %li
        = link_to 'Sign in', '#/sign_in'
